<h1>Log in</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <%= t 'sessions.new.email' %>
  <%= f.email_field :email %>
  <%= t 'sessions.new.password' %>
  <%= f.password_field :password %>
  <%= f.submit"Log in" %>
<% end %>

<p>アカウントを作成して投稿する:<%= link_to "Sign Up", new_session_path %></p>
<p>アカウントを作成せずにみんなの投稿を見る:<%= link_to "こちら", posts_path %></p>
