<h3>Are you sure post?</h3>
  <%= form_with(model: @post, local: true, url: choose_new_or_edit) do |form| %>
    <%= form.hidden_field :content %>
    <p>Post:<%= @post.content %></p>
    <%= image_tag(@post.image.url) if @post.image && @post.image.url %>
    <%= form.hidden_field :image_cache %>
    <%= form.submit %>
    <%= form.submit "back", name: 'back' %>
  <% end %>
